<html>
<head>
  <link rel="stylesheet" href="resources/login.css">
  <link rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Rubik">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="resources/comment.js"></script>
  <script type='text/javascript '>
    $(document).ready(function(){
      $('.sidebarBtn').click(function(){
      $('.sidebar').toggleClass('active');
      $('.sidebarBtn').toggleClass('toggle');
       })
     })
  </script>
</head>
<body>
  <div id="userWelcome">
    {% if profile %}
    <p> Hello, {{profile.name}}</p>
    {% else %}
    <p> Hello, random stranger!</p>
    {% endif %}
  </div>
  <div id="logoMP">
  <img src="resources/big_logo.png" height=55px>
  </div>
  <div id="logoutBtn">
    <center>
    <p> <a href="{{log_url}}">Logout</a></p>
    </center>
  </div>
  <br><div id = "cs_header">Computer Science</div>
  <center><div id= "header"><a href='/make_comment'><span class="headerColor">Back to Discussions</a>
  </div></center>

  <center><form method= "post" action="/make_comp_sci">
<p>Enter your name: <input type="text" name="name"/></input></p>
<p>Start a discussion: <textarea input type="text" name="comment"/></textarea></input></p>
<input type="submit" value= "Post Discussion"></input>
      </form></center>
    <div class="posts"
  {% for com in comment_list %}
    <p>Name: &nbsp;{{ com.name}}</p>
    <p>Message: &nbsp;{{com.comment}}</p>
    <p>Time: &nbsp;{{com.created_at}}<p>
    <hr>
  {% endfor %}
</div>

</div>
<div class="sidebar">
   <ul>
     <li><a href="/main_page">Home</a> </li>
     <li><a href="/about">About Us</a></li>
     <li><a href="/profile_page">Your Profile</a> </li>
     <li><a href="/make_comment">Discussion Boards</a> </li>
     <li><a href="/search_page">Search</a></li>
   </ul>
   <button class="sidebarBtn">
     <span> </span>
   </button>

</body>
</html>
