html {
  color: gray;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("handshake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F5F5F5;
  font-family: 'Rubik', sans-serif;
}
#objective{
  position: absolute;
  bottom: 200px;
  left:0px;
  font-size: 150%;
  padding: 30px;
  background-color: #FFFFF0;
  opacity: 0.8;
}


h1 {
position:absolute;
top: 170px;
left: 0;
font-family: 'Poppins', sans-serif;
color: #1A1E1A;
font-size: 1000%;
margin: 0px;
box-shadow: 5px 5px 5px grey;
border-radius: 25px;
background: #D4F6D6;
padding: 20px;
width: 800px;
height: 220px;
text-align: center;
padding: 0px;
opacity: 0.8;
}

#login_header{
  text-align: right;
  position: absolute;
  background-color: #FFFFF0;
  opacity: 0.8;
  top:0;
  right: 0;
}

#profile_header{
  position: relative;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background: #D4F6D6;
  padding: 15px;
  width: 450px;
  height: 100px;
  font-family: 'Rubiks', sans-serif;
  text-align: left;
  font-size: 500%;
}

#trending_header{
  position: relative;
  left: 0px;
  top: -40px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background: #D4F6D6;
  padding: 15px;
  width: 400px;
  height: 100px;
  font-family: 'Rubiks', sans-serif;
  text-align: left;
  font-size: 500%;
  opacity: .8;
}

#discussion_header{
  position: relative;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background: #D4F6D6;
  padding: 15px;
  width: 425px;
  height: 100px;
  font-family: 'Rubiks', sans-serif;
  text-align: left;
  font-size: 500%;
}

#women_header{
  position: relative;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background: #D4F6D6;
  padding: 15px;
  width: 550px;
  height: 100px;
  font-family: 'Rubiks', sans-serif;
  text-align: left;
  font-size: 500%;
}

#cs_header{
  position: relative;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background: #D4F6D6;
  padding: 15px;
  width: 650px;
  height: 100px;
  font-family: 'Rubiks', sans-serif;
  text-align: left;
  font-size: 500%;
}

#search_header{
  position: relative;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background: #D4F6D6;
  padding: 15px;
  width: 350px;
  height: 100px;
  font-family: 'Rubiks', sans-serif;
  text-align: left;
  font-size: 500%;
}

#trend_box{
  box-shadow: 5px 5px 50px #D4F6D6;
  border-radius: 25px;
  background: white;
  padding: 20px;
  margin: -80px;
  width: 600px;
  height: 80px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 100%;
  opacity: .9;
}
#creators{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FFFFF0;
  opacity: 0.8;
}
input.mysubmitbutton{
    font-family: 'Rubik', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Rubik");
}

/*main page*/
.sidebar{
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #D4F6D6;
  width: 250px;
  height: 100%;
  transition: .3s ;
}
.active{
  left: 0;
}
ul{
  margin: 0;
  padding: 20px 0;
}
ul li{
  list-style: none;
}
ul li a{
  padding: 10px 20px;
  color: gray;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sidebarBtn{
  position: absolute;
  top: 0;
  right:-50px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
  background: #f5f5f5;
  border: none;
  outline: none;
}
.sidebarBtn span{
  display: block;
  width:35px;
  height: 3px;
  background: #262626;
  position: absolute;
  top: 24px;
  transition:  .3s;
}
.sidebarBtn span:before{
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width:100%;
  height: 3px;
  background: #262626;
  transition:  .3s;
}
.sidebarBtn span:after{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width:100%;
  height: 3px;
  background: #262626;
  transition:  .3s;
}
.sidebarBtn.toggle span{
  background: transparent;
}
.sidebarBtn.toggle span:before{
  top: 0;
  transform: rotate(45deg);
}
.sidebarBtn.toggle span:after{
  top: 0;
  transform: rotate(-45deg);
}
/*Search*/
#searchBar{
  border: 1px solid #000000;
  border-right: none;
  font-size: 16px;
  padding: 10px;
  outline: none;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#searchBtn{
  border: 1px solid #000000;
  font-size: 16px;
  padding: 10px;
  background: #D4F6D6;
  background-image:  url("search.png");
   background-size: 40px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.searchPeople{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 50px #D4F6D6;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    height: 80px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 100%;
    opacity: .85;
}
.searcher{
  position: relative;
  left: 50px;
}
.posts{
  background-color: #F5F5F5;
  opacity: .7;
  margin: 20px;
  padding: 20px;

}
#userWelcome{
  position: relative;
  left: 50px;
  background-color: white;
  padding: 1px;
  height: 48px;
  opacity: .9;
}
#logoutBtn{
  position: absolute;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 10px;
  background-color: #89c4aa;
  opacity: .9;
  right: 0px;
  top: -1px;
  width: 80px;

}
.profileInfo{
  background-color: #D4F6D6;
  opacity: .7;
  padding: 20px;
  margin: 100px;
  width: 300px;
}
#banner{
  position: relative;
  bottom: 0px;
}

#logo {
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  background-color: #D4F6D6;
  margin-right: 645px;
  width: 140px; /* Need a specific value to work */
  height: 105px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#logoM {
  position: absolute;
  background-color: #D4F6D6;
  opacity: .9;
  left: 0;
  right: 0;
  top:0px;
  margin-left: auto;
  margin-right: 680px;
  width: 65px; /* Need a specific value to work */
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#logoMP {
  position: absolute;
  background-color: #D4F6D6;
  opacity: .9;
  left: 0;
  right: 0;
  top:0px;
  margin-left: auto;
  margin-right: 690px;
  width: 65px; /* Need a specific value to work */
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#header {
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 10px;
  background-color: #D4F6D6;
  text-align: center;
  padding: 10px;
}

a {
  color: #5B954B;
}

.flex {
  display: flex;
  justify-content: space-around;

}

.about {
text-align:center;
padding: 20px;
margin: 20px;
}
#makeProfile_header{
  position: absolute;
  left: 0px;
  top: 0px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background: 	#D4F6D6;
  padding: 15px;
  width: 500px;
  height: 100px;
  font-family: 'Rubiks', sans-serif;
  text-align: left;
  font-size: 500%;
}
#makeProfile_header1{
  position: absolute;
  left: 0px;
  top: 110px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  background: 	#D4F6D6;
  padding: 15px;
  width: 300px;
  height: 100px;
  font-family: 'Rubiks', sans-serif;
  text-align: left;
  font-size: 500%;
}
